.section-name{
    width: 656px;
height: 44px;
top: 785px;
left: 632px;
gap: 0px;
opacity: 0px;
font-family: Gilroy-Medium;
font-size: 36px;
font-weight: 400;
line-height: 43.67px;
text-align: center;
color: #333333;
}
.section-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
 
}
.section-img{
    width: 103px;
height: 103px;
top: 923px;
left: 908px;
gap: 0px;
opacity: 0px;
background-color:  #C5F2CBA6;
width: 103px;
height: 103px;
top: 923px;
left: 908px;
border-radius: 50%;
padding: 15px;

}
.section-text{
    width: 289.17px;
height: 46px;
top: 1072.52px;
left: 454px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 18.82px;
font-weight: 400;
line-height: 22.59px;
text-align: center;
font-family: Gilroy-Bold;
font-size: 18.82px;
font-weight: 400;
line-height: 23.3px;
text-align: center;

}
.section-item{
    display: flex;
    align-items: center;
    flex-direction: column;
   gap: 14px;
}
.section-button{
  background-color: #5FACA9;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: white; 
  color: #5FACA9;;

}
.section-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Overlayning rangini to'ldiring */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Modalni barcha elementlardan ustun qo'yish */
  }
  .success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%; /* Modalning kengligi */
    max-width: 400px; /* Modalning maksimal kengligi */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Modal kontentining boshqa elementlardan ustun qo'yish */
  }
  
  .modal-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .modal-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .modal-submit-btn,
  .modal-close-btn {
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .modal-submit-btn {
    background: #4CAF50;
    color: white;
  }
  
  .modal-close-btn {
    background: #f44336;
    color: white;
  }
  
  .modal-submit-btn:hover,
  .modal-close-btn:hover {
    opacity: 0.8;
  }
  
  .modal-close-btn {
    margin-left: 10px;
  }
  .section-subtitle{
    font-size: 18px;


  }
  
  @media (min-width: 968px) and (max-width: 1399px) {
    .section-list{
      display: flex;
      flex-wrap: wrap;
     justify-content: space-around;

    }
  }
  @media (min-width: 767px) and (max-width: 968px) {
    .section-list{
      display: flex;
      flex-wrap: wrap;
     justify-content: space-around;
     height: 450px;

    }
    .section-img{
      width: 73px;
      height: 73px;
    }
    .section-text{
      font-size: 14.82px;
    font-weight: 300;
    width: 220px;
    }
    .section-name{
      font-size: 25px;
    }
  }
  
  /* Kichik ekranlar uchun (Mobil) */
  @media (min-width: 576px) and (max-width: 767px) {
    .section-list{
      display: flex;
      flex-wrap: wrap;
     justify-content: space-around;
     height: 600px;

    }
    .section-img{
      width: 63px;
      height: 63px;
    }
    .section-text{
      font-size: 12.82px;
    font-weight: 200;
    width: 180px;
    }
    .section-name{
      font-size: 25px;
      width: 270px;
    }
    .section-button{
      font-size: 10px;
      padding: 1px 17px;
      font-weight: 50px;
    }
  }
  
  /* Juda kichik ekranlar uchun (Extra small devices) */
  @media (min-width: 375px) and (max-width:576px) {
    .section-list{
      display: flex;
      flex-wrap: wrap;
     justify-content: space-around;
     height: 700px;

    }
    .section-img{
      width: 43px;
      height: 43px;
    }
    .section-text{
      font-size: 9.82px;
    font-weight: 100;
    width: 130px;
    }
    .section-name{
      font-size: 19px;
      width: 190px;
    }
    .section-button{
      font-size: 3px;
      padding: 1px 17px;
      font-weight: 50px;
    }
    .section-subtext{
      font-family: Gill Sans;
    font-size: 9px;
    font-weight: 100;
    line-height: 7.47px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    }
    .modal-content {
      background: #fff;
      padding: 5px;
      border-radius: 5px;
      width: 50%;
      max-width: 100px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      position: relative;
      text-align: center;
  }
  }
  

  @media (min-width: 175px) and (max-width:376px ) {
    .section-list{
      display: flex;
      flex-wrap: wrap;
     justify-content: space-around;
     height: 1000px;

    }
    .section-img{
      width: 43px;
      height: 43px;
    }
    .section-text{
      font-size: 9.82px;
    font-weight: 100;
    width: 130px;
    }
    .section-name{
      font-size: 19px;
      width: 190px;
    }
    .section-button{
      font-size: 3px;
      padding: 1px 17px;
      font-weight: 50px;
    }
    .section-subtext{
      font-family: Gill Sans;
    font-size: 9px;
    font-weight: 100;
    line-height: 7.47px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    }
    .modal-content {
      background: #fff;
      padding: 5px;
      border-radius: 5px;
      width: 50%;
      max-width: 100px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      position: relative;
      text-align: center;
  
  }
  }
  