
.entery-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.entery-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #e4fdfc;
}
.entery-input{
    padding: 10px 20px;
    border-radius: 20px;
    width: 331px;
height: 35px;
border: 1px solid #e4fdfc;
background-color: #e4fdfc;
font-family: Montserrat;
font-size: 15px;
font-weight: 500;

}
.entery-btn{
  
    border-radius: 20px;
    width: 371px;
height: 45px;
border: 1px solid #e4fdfc;

font-family: Montserrat;
font-size: 15px;
font-weight: 500;
background-color: #e4fdfc;
transition: background-color 0.9s
} 
.entery-title{
    width: 241px;
height: 98px;
font-family: Gilroy-Medium;
font-size: 40px;
font-weight: 400;
}
.entery-text{
    width: 250px;
height: 69px;
font-family: Gilroy;
font-size: 16px;
font-weight: 400;
}
.entery-box{
    /* width: 1197px; */
/* height: 298px; */
gap: 0px;
border-radius: 10px ;
background: linear-gradient(90deg, rgba(125, 202, 199, 0.442) 0%, rgba(197, 242, 203, 0.1365) 129.2%);

}

  /* O'rta o'lchamli ekranlar uchun (Tablet) */
  @media (min-width: 968px) and (max-width: 1199px) {
    .header {
      /* O'rta ekranlar uchun uslublar */
    }
  }
  @media (min-width: 767px) and (max-width: 968px) {
    .header {
      /* O'rta ekranlar uchun uslublar */
    }
  }
  
  /* Kichik ekranlar uchun (Mobil) */
  @media (min-width: 576px) and (max-width: 767px) {
 .entery-list{
    display: flex;
    flex-direction: column;
 }
 .entery-input{
    width: 200px;
    height: 20px;
 }
 .entery-btn{
    width: 240px;
    height: 35px;
 }
  }
  
  /* Juda kichik ekranlar uchun (Extra small devices) */
  @media (min-width: 375px) and (max-width:576px ) {
    .entery-list{
        display: flex;
        flex-direction: column;
     }
     .entery-input{
        width: 200px;
        height: 20px;
     }
     .entery-btn{
        width: 240px;
        height: 35px;
     }
  }
  

  @media(max-width:376px) {
    .entery-list{
        display: flex;
        flex-direction: column;
     }
     .entery-input{
        width: 200px;
        height: 20px;
     }
     .entery-btn{
        width: 240px;
        height: 35px;
     }
  }
  .entery-btn:hover{
   border: 2px solid #e4fdfc;
   color: rgb(87, 76, 76);
background-color: #8ae7e4;
  }