/* Umumiy uslublar */
ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    margin: 0 auto;
    padding: 0;
}

.navbar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-img {
    width: 164px;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15.28px;
    color: black;
}

.navbar-sublink,
.navbar-sublink_a {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15.28px;
    color: black;
    padding: 5px 15px;
}

.navbar-sublink {
    width: 190px;
}

.navbar-sublink_a {
    width: 170px;
}

/* Modal */
.modal {
    top: 10px;
    right: 130px;
    width: 20%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    display: no;
}

/* Modal */
.modal {
    display: none;
    position: fixed; /* Sahifaning yuqori o'ng burchagida joylashishi uchun */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Modal fonining qorong'ilashishi */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Modalning yuqorida ko'rsatilishini ta'minlash */
}

.modal.show {
    display: flex; /* Modal ko'rsatilganida flex bilan joylashtiriladi */
}

.modal-content {
    background-color: white;
    padding: 20px; /* Modal ichidagi kontentning xossalari */
    border-radius: 5px;
    position: relative;
    width: 300px; /* Modal o'lchami */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


/* Media Queries */
@media (max-width: 800px) {
    .navbar .links {
        display: none;
    }

    .navbar-link {
        width: 768px;
    }

    .navbar .menu-btn {
        display: block;
    }

    .modal.show {
        display: flex;
    }

    .navbar-subbox {
        display: none;
    }
}

@media (max-width: 1100px) {
    .navbar-link {
        width: 790px;
    }
}

@media (max-width: 1000px) {
    .navbar-link {
        width: 590px;
    }
}

@media (max-width: 850px) {
    .navbar-link {
        width: 350px;
        display: flex;
        align-items: start;
        justify-content: right;
        gap: 2px;
    }
}

@media (max-width: 568px) {
    .modal {
        right: auto;
        left: 0;
        top: 50px;
    }
}
