.footer{
    background-color: black;
height: 200px;
width: 100%;
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
.footer-text{
    color: white;
}
.footer-item{
    display: flex;
    gap: 20px;
}
.footer-logo{
    width: 89.86px;
height: 137px;

}
@media (max-width:650px){
.footer-text{
    display: none;
}
.footer-imglogo{
    width: 39.86px;
    height: 47px;
}

}
@media (max-width:650px){
    .footer-item{
        display: flex;
        flex-direction: column
    }
    .navbar-img{
        width: 100px;
    }
}